In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
from scipy.spatial.distance import euclidean

pd.options.display.max_rows = 20

## Load liquor license information

In [2]:
liquor = pd.read_csv('Liquor_Authority_Quarterly_List_of_Active_Licenses.csv', index_col=None, usecols=['License Type Code', 'Latitude', 'Longitude']);
display(liquor)

      License Type Code   Latitude  Longitude
0                     A  40.849430 -73.909261
1                     A  40.834710 -73.925238
2                     A  40.841277 -73.916582
3                     A        NaN        NaN
4                     A  40.853900 -73.909440
5                     A  40.808961 -73.918475
6                     A  40.815552 -73.898424
7                     A  40.818262 -73.906267
8                     A  40.843720 -73.907137
9                    AX  40.847675 -73.895236
...                 ...        ...        ...
39942                OP  42.674980 -73.736690
39943                AX  44.982790 -73.374240
39944                 L  43.052510 -76.132530
39945                OP  42.612950 -76.185880
39946                OP  41.151330 -73.941900
39947                SL  42.399320 -74.028060
39948                OP  42.815880 -73.935310
39949                WS        NaN        NaN
39950                OP  41.970400 -73.988320
39951                OP  41.934490        NaN

[39952 rows x 3 columns]

## Load sidewalk cafe license information

In [3]:
sidewalk = pd.read_csv('Sidewalk_Caf__Licenses_and_Applications.csv', usecols=['LIC_STATUS', 'SWC_TYPE', 'LATITUDE', 'LONGITUDE'])
display(sidewalk)

     LIC_STATUS          SWC_TYPE   LATITUDE  LONGITUDE
0        Active        Unenclosed  40.714565 -73.991566
1        Active        Unenclosed  40.771958 -73.956318
2        Active          Enclosed  40.770374 -73.953908
3      Inactive        Unenclosed  40.787795 -73.971482
4        Active        Unenclosed  40.687308 -73.976397
5        Active        Unenclosed  40.761226 -73.990813
6        Active        Unenclosed  40.785636 -73.976662
7      Inactive        Unenclosed  40.755181 -73.970832
8        Active        Unenclosed  40.788751 -73.974494
9        Active        Unenclosed  40.721995 -73.993600
...         ...               ...        ...        ...
1606     Active        Unenclosed  40.689680 -73.969364
1607     Active  Small Unenclosed  40.722111 -73.997540
1608     Active        Unenclosed  40.717727 -74.005469
1609     Active        Unenclosed  40.719583 -73.997258
1610   Inactive        Unenclosed  40.685480 -73.980385
1611     Active        Unenclosed  40.825160 -73.951023
1612   Inactive        Unenclosed  40.718890 -73.961324
1613   Inactive        Unenclosed  40.746729 -74.000000
1614   Inactive        Unenclosed  40.758599 -73.919509
1615   Inactive        Unenclosed  40.721065 -73.989682

[1616 rows x 4 columns]

## Load health inspection data, including latitude and longitude

In [4]:
violations_df = pd.read_csv('../Geocoding-converting addresses into long/health_inspect_cleaned_loc_added.csv', index_col=0)
violations_df = violations_df.reindex(sorted(violations_df.index.values)) # Sort by CAMIS
display(violations_df)

,crit_violations,non_crit_violations,earliest_inspection,latest_inspection,second_latest_inspection,zipcode,boro,cuisine,address,num_inspections,...,non_crit_violations_train,num_inspections_train,average_crit_v_train,average_non_crit_v_train,time_since_last_inspection,time_since_first_inspection,crit_v_2plus,address2,latitude,longitude
30075445,8.0,4.0,2013-08-14,2016-02-18,2015-02-09,10462,BRONX,Bakery,1007 MORRIS PARK AVE,5,...,3.0,4,1.750000,0.750000,374,918,0,"1007 MORRIS PARK AVE, NY",40.848537,-73.856123
30112340,14.0,10.0,2014-06-05,2016-10-27,2016-10-03,11225,BROOKLYN,Hamburgers,469 FLATBUSH AVENUE,9,...,9.0,8,1.625000,1.125000,24,875,0,"469 FLATBUSH AVENUE, NY",40.662930,-73.961726
30191841,4.0,7.0,2013-07-22,2016-05-31,2015-09-21,10019,MANHATTAN,Irish,351 WEST 57 STREET,5,...,6.0,4,0.750000,1.500000,253,1044,0,"351 WEST 57 STREET, NY",40.767821,-73.984981
40356018,1.0,7.0,2013-06-05,2016-05-16,2015-06-05,11224,BROOKLYN,American,2780 STILLWELL AVENUE,4,...,6.0,3,0.000000,2.000000,346,1076,0,"2780 STILLWELL AVENUE, NY",40.579526,-73.982426
40356151,13.0,5.0,2014-04-11,2016-05-14,2015-05-29,11369,QUEENS,American,8825 ASTORIA BOULEVARD,7,...,4.0,6,2.000000,0.666667,351,764,0,"8825 ASTORIA BOULEVARD, NY",40.772354,-73.931502
40356483,9.0,15.0,2013-07-09,2016-04-20,2015-05-08,11234,BROOKLYN,Delicatessen,7114 AVENUE U,7,...,13.0,6,1.333333,2.166667,348,1016,0,"7114 AVENUE U, NY",40.619892,-73.906850
40356731,4.0,5.0,2013-07-10,2016-05-19,2015-06-26,11226,BROOKLYN,"Ice Cream, Gelato, Yogurt, Ices",1839 NOSTRAND AVENUE,4,...,4.0,3,1.000000,1.333333,328,1044,0,"1839 NOSTRAND AVENUE, NY",40.640826,-73.948346
40357217,2.0,7.0,2013-06-19,2016-04-19,2015-05-06,10460,BRONX,American,2300 SOUTHERN BOULEVARD,4,...,6.0,3,0.333333,2.000000,349,1035,0,"2300 SOUTHERN BOULEVARD, NY",40.850660,-73.882546
40359705,15.0,8.0,2014-11-29,2017-01-23,2016-07-08,11224,BROOKLYN,Hotdogs,1310 SURF AVENUE,8,...,7.0,7,1.857143,1.000000,199,786,1,"1310 SURF AVENUE, NY",40.575301,-73.981469
40360045,17.0,10.0,2014-10-20,2017-03-13,2016-08-29,11223,BROOKLYN,Jewish/Kosher,705 KINGS HIGHWAY,8,...,8.0,7,2.000000,1.142857,196,875,1,"705 KINGS HIGHWAY, NY",40.606494,-73.965426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50060202,11.0,2.0,2017-03-29,2017-04-10,2017-03-29,10013,MANHATTAN,Indian,369 BROOME ST,2,...,1.0,1,6.000000,1.000000,12,12,1,"369 BROOME ST, NY",40.719879,-73.995990
50060214,1.0,4.0,2017-03-16,2017-04-07,2017-03-16,10456,BRONX,"Latin (Cuban, Dominican, Puerto Rican, South &...",268 E 167TH ST,2,...,3.0,1,0.000000,3.000000,22,22,0,"268 E 167TH ST, NY",40.833239,-73.914336
50060261,9.0,2.0,2017-03-10,2017-03-24,2017-03-10,10011,MANHATTAN,CafÃ©/Coffee/Tea,205 10TH AVE,2,...,1.0,1,5.000000,1.000000,14,14,1,"205 10TH AVE, NY",40.747295,-74.004812
50060381,7.0,1.0,2017-03-24,2017-03-28,2017-03-24,10038,MANHATTAN,American,75 MAIDEN LN,2,...,0.0,1,0.000000,0.000000,4,4,1,"75 MAIDEN LN, NY",40.707686,-74.007666
50060387,3.0,2.0,2017-03-22,2017-04-10,2017-03-22,11220,BROOKLYN,Vietnamese/Cambodian/Malaysia,4810 8TH AVE,2,...,1.0,1,2.000000,1.000000,19,19,0,"4810 8TH AVE, NY",40.642107,-74.003043
50060427,10.0,4.0,2017-03-07,2017-04-06,2017-03-20,11217,BROOKLYN,Bagels/Pretzels,73 LAFAYETTE AVE,3,...,3.0,2,4.000000,1.500000,17,30,1,"73 LAFAYETTE AVE, NY",40.687281,-73.975386
50060496,7.0,4.0,2017-02-27,2017-03-31,2017-02-27,11232,BROOKLYN,Delicatessen,4102 3RD AVE,2,...,3.0,1,4.000000,3.000000,32,32,1,"4102 3RD AVE, NY",40.652797,-74.009697
50060695,7.0,4.0,2017-04-04,2017-04-10,2017-04-04,11432,QUEENS,Pizza,16417 JAMAICA AVE,2,...,3.0,1,6.000000,3.000000,6,6,0,"16417 JAMAICA AVE, NY",40.723242,-73.728041
50060807,2.0,2.0,2017-03-09,2017-03-20,2017-03-09,10467,BRONX,Chinese,2861 WHITE PLAINS RD,2,...,0.0,1,1.000000,0.000000,11,11,0,"2861 WHITE PLAINS RD, NY",40.867355,-73.867400
50060808,8.0,4.0,2017-03-09,2017-03-27,2017-03-23,11428,QUEENS,Bakery,21023 JAMAICA AVE,3,...,3.0,2,3.500000,1.500000,4,18,0,"21023 JAMAICA AVE, NY",40.723242,-73.728041

## Remove any NaN values for lat/long

In [ ]:
liquor = liquor[pd.notnull(liquor['Latitude'])]
liquor = liquor[pd.notnull(liquor['Longitude'])]
display(liquor)

sidewalk = sidewalk[pd.notnull(sidewalk['LATITUDE'])]
sidewalk = sidewalk[pd.notnull(sidewalk['LONGITUDE'])]
display(sidewalk)

      License Type Code   Latitude  Longitude
0                     A  40.849430 -73.909261
1                     A  40.834710 -73.925238
2                     A  40.841277 -73.916582
4                     A  40.853900 -73.909440
5                     A  40.808961 -73.918475
6                     A  40.815552 -73.898424
7                     A  40.818262 -73.906267
8                     A  40.843720 -73.907137
9                    AX  40.847675 -73.895236
10                    A  40.867498 -73.883729
...                 ...        ...        ...
39940                OP  42.772080 -73.823540
39941                AX  41.600810 -74.349010
39942                OP  42.674980 -73.736690
39943                AX  44.982790 -73.374240
39944                 L  43.052510 -76.132530
39945                OP  42.612950 -76.185880
39946                OP  41.151330 -73.941900
39947                SL  42.399320 -74.028060
39948                OP  42.815880 -73.935310
39950                OP  41.970400 -73.988320

[37726 rows x 3 columns]

     LIC_STATUS          SWC_TYPE   LATITUDE  LONGITUDE
0        Active        Unenclosed  40.714565 -73.991566
1        Active        Unenclosed  40.771958 -73.956318
2        Active          Enclosed  40.770374 -73.953908
3      Inactive        Unenclosed  40.787795 -73.971482
4        Active        Unenclosed  40.687308 -73.976397
5        Active        Unenclosed  40.761226 -73.990813
6        Active        Unenclosed  40.785636 -73.976662
7      Inactive        Unenclosed  40.755181 -73.970832
8        Active        Unenclosed  40.788751 -73.974494
9        Active        Unenclosed  40.721995 -73.993600
...         ...               ...        ...        ...
1606     Active        Unenclosed  40.689680 -73.969364
1607     Active  Small Unenclosed  40.722111 -73.997540
1608     Active        Unenclosed  40.717727 -74.005469
1609     Active        Unenclosed  40.719583 -73.997258
1610   Inactive        Unenclosed  40.685480 -73.980385
1611     Active        Unenclosed  40.825160 -73.951023
1612   Inactive        Unenclosed  40.718890 -73.961324
1613   Inactive        Unenclosed  40.746729 -74.000000
1614   Inactive        Unenclosed  40.758599 -73.919509
1615   Inactive        Unenclosed  40.721065 -73.989682

[1616 rows x 4 columns]

## Match restaurants with liquor licenses based on latitude/longitude

In [ ]:
threshold = 0.0007 # We'll count lat/long values as a match if they're within this threshold

violations_df['Liquor License'] = ['N/A']*len(violations_df)

count = 0
for indx, r in violations_df.iterrows():
    count += 1
    if count%100==0:
        print('Done with {}'.format(count))
    lat = violations_df.ix[indx,'latitude']
    lng = violations_df.ix[indx,'longitude']
    if not np.isnan(lat) and not np.isnan(lng): # Ignore any null lat/long values
        # Compute Euclidean distances between this restaurant and locations with a liquor license
        dist = liquor.apply(lambda x: euclidean([x['Latitude'], x['Longitude']], [lat, lng]), axis=1)
        # Find the closest location with a liquor license
        closest = np.argmin(dist)
        if dist[closest] < threshold: # Check whether we should count this as a match
            violations_df.ix[indx, 'Liquor License'] = liquor.ix[closest, 'License Type Code']

display(violations_df)

## Match restaurants with sidewalk cafe licenses based on latitude/longitude

In [ ]:
BOOOOOOOOOOOOOM

In [ ]:
threshold = 0.0007 # We'll count lat/long values as a match if they're within this threshold

violations_df['Liquor License'] = ['N/A']*len(violations_df)

for indx, r in violations_df.iterrows():
    lat = violations_df.ix[indx,'latitude']
    lng = violations_df.ix[indx,'longitude']
    if not np.isnan(lat) and not np.isnan(lng): # Ignore any null lat/long values
        # Compute Euclidean distances between this restaurant and locations with a liquor license
        dist = liquor.apply(lambda x: euclidean([x['Latitude'], x['Longitude']], [lat, lng]), axis=1)
        # Find the closest location with a liquor license
        closest = np.argmin(dist)
        if dist[closest] < threshold: # Check whether we should count this as a match
            violations_df.ix[indx, 'Liquor License'] = liquor.ix[closest, 'License Type Code']

display(violations_df)

In [ ]:
print('There are {} restaurants with liquor licenses.'.format(len(violations_df[violations_df['Liquor License']!='N/A'])))